@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import "./pages.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .background-card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.md');
      padding: theme('spacing.6');
    }

    [x-cloak] { display: none !important; }

    .divider-horizontal {
        @apply mx-0;
    }

    /* .collapse-open :where(.collapse-content), .collapse:focus:not(.collapse-close) :where(.collapse-content), .collapse:not(.collapse-close) :where(input[type="checkbox"]:checked ~ .collapse-content) {
        @apply collapse-animation;
    } */

    /* .drawer-toggle ~ .drawer-content {
        @apply overflow-y-visible;
    }

    .drawer {
        @apply h-auto;
    } */

    /*
    This is the CSS for my old slider
     .rs-range {
      -webkit-appearance: none;
      &:focus {
          outline: none;
      }
      &::-webkit-slider-runnable-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          box-shadow: none;
          background: black;
          border-radius: 0px;
          border: 0px solid #010101;
      }
      &::-moz-range-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          box-shadow: none;
          background: black;
          border-radius: 0px;
          border: 0px solid #010101;
      }

      &::-webkit-slider-thumb {
          box-shadow: none;
          border: 0px solid #ffffff;
          box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
          height: 22px;
          width: 12px;
          border-radius: 22px;
          background: black;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -20px;
      }
      &::-moz-range-thumb{
            box-shadow: none;
            border: 0px solid #ffffff;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
            height: 22px;
            width: 12px;
            border-radius: 22px;
            background: black;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -20px;
      }
      &::-moz-focus-outer {
        border: 0;
      }
    } */

    /*
      .text-input {
        @apply w-40 mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
      }

      .select-input {
        @apply block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
      }
    */
}
